@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 10px 20px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --dark: #1e1c2a;
  --orange: #fd9801dc;
  --white: #fff;
  --dark-orange: #bb883c;
  --dot-color: #d9d9d9;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
}
.logo {
  text-decoration: none;
  color: var(--orange);
  font-size: 2rem;
  font-weight: bold;
}
.navigation ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 4rem;
  font-size: 1.3rem;
}
.navigation ul li a {
  text-decoration: none;
  color: var(--dark);
}
.navigation ul li a:hover {
  color: var(--orange);
  text-decoration: underline;
}

.main-section {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
}
.main-section h1 {
  margin-bottom: 30px;
}
.main-img {
  width: 50%;
  img {
    max-width: 100%;
  }
}
.main-btn {
  background-color: var(--orange);
  color: var(--white);
  text-decoration: none;
  text-align: center;
  border: 1px solid var(--orange);
  padding: 6px 46px;
  border-radius: 5px;
  min-width: 100px;
  width: auto;
}
.main-btn:hover {
  background-color: var(--dark-orange);
  border: var(--dark-orange);
}

.services-section {
  margin-top: 70px;
  text-align: center;
}
.services-section h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 3rem;
}
.section-card {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  border: 2px solid #000;
  width: 330px;
  height: 500px;
  border-radius: 15px;
}
.p-card {
  color: var(--dark-orange);
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: underline;
  font-weight: 500;
}
.card img {
  height: 210px;
  margin: 0;
  width: 325px;
}

.p-text {
  text-align: center;
  height: 130px;
  margin-bottom: 30px;
}

.card a {
  background-color: var(--orange);
  color: var(--white);
  text-decoration: none;
  text-align: center;
  border: 1px solid var(--orange);
  padding: 6px 46px;
  border-radius: 5px;
  min-width: 100px;
  width: auto;
}
.card a:hover {
  background-color: var(--dark-orange);
}

.card:hover {
  transform: translateY(-10px);
  animation: ease-in-out;
}

.benefits-section {
  margin-top: 70px;
  text-align: center;
}
.benefits-section h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.benefits-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  border-radius: 15px;
}
.b-card {
  border: 2px solid #000;
  width: 50%;
  height: 500px;
  border-radius: 15px;
}

.benefits-card p {
  color: var(--dark-orange);
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: underline;
  font-weight: 500;
}

.form-text {
  margin-top: 50px;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.submit-btn {
  text-align: center;
}
.container form .input-box {
  width: calc(100% / 2 - 20px);
}

.user-details .input-box input {
  height: 45px;
  width: 200%;
  outline: none;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
}
.user-details .input-box .details {
  font-weight: 500;
  margin-bottom: 5px;
}

form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}

form .gender-details .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}
.gender-title {
  margin: 40px;
}

.gender-details .category label {
  display: flex;
  align-items: center;
}

.gender-details .category .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: var(--dot-color);
  margin-right: 5px;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
  border-color: var(--dot-color);
  background: var(--dark);
}

form input[type="radio"] {
  display: none;
}

form .submit-btn {
  height: 45px;
  margin: 45px 0;
}

form .submit-btn input {
  height: 100%;
  width: 50%;
  outline: none;
  background-color: var(--orange);
  color: var(--white);
  font-size: 24px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

.location{
  margin-top: 80px;
  text-align: center;
  font-size: 1.4rem;
  img{
    padding-top: 80px;
    width: 80%;
  }
}


@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  form .gender-details .category {
    width: 100%;
  }
  .container form .user-details{
    max-height: 300px;
  }

}

@media screen and (max-width: 1200px) {
  .main-btn {
    display: none;
  }
  .main-img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 700px) {
  * {
    margin: 10px;
  }
  .navigation ul li {
    display: none;
  }
  .main-img {
    display: none;
  }
  .services-section {
    text-align: center;
  }
}
